<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="report">
    <table id="content-to-copy">
        <tr>
            <th>Date</th>
            <th>ID number</th>
            <th>Employee name</th>
            <th>On call start hour</th>
            <th>On call end hour</th>
        </tr>
        <tr th:each="i : ${list}">
            <td th:text="${#temporals.format(i.date, 'EEEE, MMM d, yyyy', T(java.util.Locale).ENGLISH)}">13/01/2011</td>
            <td th:text="${i.number}">777</td>
            <td th:text="${i.name}">John Doe</td>
            <td th:text="${i.start}">9:00</td>
            <td th:text="${#temporals.format(i.end, 'kk:mm')}">24:00</td>
        </tr>
    </table>
</div>
</body>
</html>
