<!DOCTYPE html>
<html lang="en" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S PD Report</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
        body {
            font: normal 10pt Arial, sans-serif;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('.tabular.menu .item').tab();
            $('#copy-button').click(function() {
                const content = document.getElementById('content-to-copy');
                const range = document.createRange();
                range.selectNode(content);
                window.getSelection().addRange(range);
                document.execCommand('copy');
            });
        })
    </script>
</head>
<body>
<div class="ui container">
    <p></p>
    <div class="ui secondary huge menu">
        <a class="header item" href="/">
            <i class="purple clipboard list icon"></i>
            S PD Report
        </a>
        <div class="right menu">
            <a class="ui item" href="/settings" sec:authorize="isAuthenticated()">
                <i class="cog icon"></i>
                Settings
            </a>
            <a class="ui item" href="/logout" sec:authorize="isAuthenticated()">
                <img class="ui avatar image" th:src="${#authentication.principal.attributes['picture']}">&nbsp;
                Logout
            </a>
            <a class="ui item" href="/oauth2/authorization/google" sec:authorize="isAnonymous()">
                <i class="blue google icon"></i>
                Login
            </a>
        </div>
    </div>

    <div th:replace="${content}">
        <p>Layout content</p>
    </div>

    <div class="ui divider"></div>
    <div class="ui center aligned container">
        <i class="github icon"></i><a href="https://github.com/martiner/spdreport">Source code:</a>
        <a th:href="'https://github.com/martiner/spdreport/commit/' + ${git?.shortCommitId} ?: ''" th:text="'#' + ${git?.shortCommitId} ?: '???'">deadbeef</a>
    </div>

</div>
</body>
</html>
