<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S PD Report</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
        body {
            font: normal 10pt Arial, sans-serif;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('.tabular.menu .item').tab();
            $('#copy-button').click(function() {
                const content = document.getElementById('content-to-copy');
                const range = document.createRange();
                range.selectNode(content);
                window.getSelection().addRange(range);
                document.execCommand('copy');
            });
        })
    </script>
</head>
<body>
<div class="ui container">
    <p></p>
    <h1 class="ui header">
        <i class="clipboard list icon"></i>S PD Report
    </h1>

    <form action="#" th:action="@{/}" th:object="${reportData}" method="post" class="ui form" enctype="multipart/form-data">
        <div class="four fields">
            <div class="field">
                <label>Start:</label>
                <input type="date" th:field="*{start}" />
            </div>
            <div class="field">
                <label>End:</label>
                <input type="date" th:field="*{end}" />
            </div>
            <div class="field">
                <label>Employee Name:</label>
                <input type="text" th:field="*{name}" />
            </div>
            <div class="field">
                <label>Employee Number:</label>
                <input type="text" th:field="*{number}" />
            </div>
        </div>
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="url">iCalendar Download:</a>
            <a class="item" data-tab="file">iCalendar Upload:</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="url">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui basic label">URL:</div>
                    <input type="text" th:field="*{url}" />
                </div>
            </div>
            <div class="ui bottom attached tiny info message">
                <div class="header">Where do I find the URL in PagerDuty?</div>
                My icon (top right) - My On-Call Shifts - Export Calendar - iCalendar File (copy URL)
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="file">
            <div class="fields">
                <div class="field">
                    <input type="file" name="file">
                </div>
            </div>
        </div>
        <div class="ui center aligned container">
            <button type="submit" class="ui blue button"><i class="icon sync alternate"></i>Generate</button>
        </div>
    </form>

    <div th:if="${list}">
    <p></p>
    <button type="button" class="right floated ui green button" id="copy-button"><i class="icon copy"></i>Copy to clipboard</button>
    <h2>On Call Tracking</h2>
    <table id="content-to-copy">
        <tr>
            <th>Date</th>
            <th>ID number</th>
            <th>Employee name</th>
            <th>On call start hour</th>
            <th>On call end hour</th>
        </tr>
        <tr th:each="i : ${list}">
            <td th:text="${#temporals.format(i.date, 'EEEE, MMM d, yyyy', T(java.util.Locale).ENGLISH)}">13/01/2011</td>
            <td th:text="${i.number}">777</td>
            <td th:text="${i.name}">John Doe</td>
            <td th:text="${i.start}">9:00</td>
            <td th:text="${#temporals.format(i.end, 'kk:mm')}">24:00</td>
        </tr>
    </table>
    </div>
    <div class="ui divider"></div>
    <div class="ui center aligned container">
        <a href="https://github.com/martiner/spdreport"><i class="github icon"></i>Source code</a>
    </div>
</div>
</body>
</html>
