<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{_template :: layout(~{::#content})}">
<body>
<div class="ui container" id="content">

    <div th:replace="~{_steps :: steps}"></div>

    <form action="#" th:action="@{/}" th:object="${reportData}" method="post" class="ui form" enctype="multipart/form-data">
        <div class="ui negative message icon" th:if="${#fields.hasAnyErrors()}">
            <i class="exclamation circle icon"></i>
            <div class="content">
                <div class="header">There is an issue preventing submission of the form</div>
            </div>
        </div>
        <div class="four fields">
            <div class="field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('start')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('start'), ' ')}">
                <label>Start:</label>
                <input type="date" th:field="*{start}" />
            </div>
            <div class="field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('end')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('end'), ' ')}">
                <label>End:</label>
                <input type="date" th:field="*{end}" />
            </div>
            <div class="field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('name')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('name'), ' ')}">
                <label>Employee Name:</label>
                <input type="text" th:field="*{name}" />
            </div>
            <div class="field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('number')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('number'), ' ')}">
                <label>Employee Number:</label>
                <input type="text" th:field="*{number}" />
            </div>
        </div>
        <div class="ui top attached tabular menu">
            <a class="item" data-tab="url"  th:classappend="*{active('url')}" >iCalendar Download:</a>
            <a class="item" data-tab="file" th:classappend="*{active('file')}">iCalendar Upload:</a>
        </div>
        <div class="ui bottom attached tab segment" data-tab="url" th:classappend="*{active('url')}">
            <div class="field" th:classappend="${#fields.hasErrors('url')}? error">
                <div class="ui labeled input">
                    <div class="ui basic label">URL:</div>
                    <input type="text" th:field="*{url}" />
                </div>
                <div class="ui pointing red basic label" th:if="${#fields.hasErrors('url')}" th:text="${#strings.listJoin(#fields.errors('url'), ' ')}">
                    Please enter a value
                </div>
            </div>
            <div class="ui bottom attached tiny info message">
                <div class="header">Where do I find the URL in PagerDuty?</div>
                My icon (top right) - My On-Call Shifts - Export Calendar - iCalendar File (copy URL)
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="file" th:classappend="*{active('file')}">
            <div class="fields">
                <div class="field" th:classappend="${#fields.hasErrors('file')}? error">
                    <input type="file" name="file">
                    <div class="ui pointing red basic label" th:if="${#fields.hasErrors('file')}" th:text="${#strings.listJoin(#fields.errors('file'), ' ')}">
                        Please enter a value
                    </div>
                </div>
            </div>
        </div>
        <div class="ui center aligned container">
            <button type="submit" class="ui blue button"><i class="icon sync alternate"></i>Generate</button>
        </div>
    </form>

    <div th:if="${list}">
    <p></p>
    <button type="button" class="right floated ui green button" id="copy-button"><i class="icon copy"></i>Copy to clipboard</button>
    <h2>On Call Tracking</h2>
    <div th:replace="~{_report :: report}"></div>
    </div>
</div>
</body>
</html>
