<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{_template :: layout(~{::#content})}">
<body>
<div class="ui container" id="content">

    <div th:replace="~{_steps :: steps}"></div>

    <div class="ui center aligned container" th:unless="${#strings.isEmpty(message)}">
        <div th:text="${message}" class="ui compact positive message">This is the message</div>
        <p></p>
    </div>

    <form action="#" th:action="@{/settings}" th:object="${settings}" method="post" class="ui form">
        <div class="ui negative message icon" th:if="${#fields.hasAnyErrors()}">
            <i class="exclamation circle icon"></i>
            <div class="content">
                <div class="header">There is an issue preventing submission of the form</div>
            </div>
        </div>
        <div class="five fields">
            <div class="field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('fullName')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('fullName'), ' ')}">
                <label>Employee Name:</label>
                <input type="text" th:field="*{fullName}" />
            </div>
            <div class="field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('number')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('number'), ' ')}">
                <label>Employee Number:</label>
                <input type="text" th:field="*{number}" />
            </div>
            <div class="field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('country')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('country'), ' ')}">
                <label>Country:</label>
                <select th:field="*{country}">
                    <option th:each="c : ${countries}" th:value="${c.name}" th:text="${c.value}"></option>
                </select>
            </div>
            <div class="eight wide field" data-position="bottom left"
                 th:classappend="${#fields.hasErrors('email')}? error"
                 th:attr="data-tooltip=${#strings.listJoin(#fields.errors('email'), ' ')}">
                <label>Email:</label>
                <input type="text" readonly th:field="*{email}" />
            </div>
        </div>
        <div class="field" data-position="bottom left"
             th:classappend="${#fields.hasErrors('url')}? error"
             th:attr="data-tooltip=${#strings.listJoin(#fields.errors('url'), ' ')}">
            <div class="ui labeled input">
                <div class="ui basic label">URL:</div>
                <input type="text" th:field="*{url}" />
            </div>
        </div>
        <h4 class="ui dividing header">Manual Report</h4>
        <div class="inline fields">
            <label>Default report date range:</label>
            <div th:each="r : ${ranges}">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" th:field="*{defaultRange}" th:value="${r}" />
                        <label th:for="${#ids.prev('defaultRange')}" th:text="${r.title}">range</label>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="ui dividing header">Scheduled Report</h4>
        <div class="inline fields">
            <label>Send report email:</label>
            <div th:each="f : ${freq}">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" th:field="*{emailFrequency}" th:value="${f}" />
                        <label th:for="${#ids.prev('emailFrequency')}" th:text="${f.title}">frequency</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui center aligned container">
            <button type="submit" class="ui blue button"><i class="icon save"></i>Save</button>
        </div>
    </form>

</div>
</body>
</html>
