name: build

on:
  push:
    branches-ignore:
      - master
      - renovate/**
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - name: Checkout Git
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: '.java-version'
          cache: 'maven'

      - name: Build and Deploy
        run: ./mvnw -B verify

      - name: Publish Tests Report
        uses: martiner/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: 'target/*-reports/TEST-*.xml'
